@media only screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #b9b9b9;
  }

  header ul{
      flex-direction: column;
      text-align: center;
  }

  header>.logo{
      text-align: center;
      margin-left: 30px;
  }

  header ul li{
      margin: 5px 0;
  }
  .signUp a,.signIn a{
      padding: 5px 10px;
      font-size: 12px;
      text-align: center;
      display: flex;
  } 
  
  .banner-area{
      margin-top: 220px;
  }

  .banner-content h2{
      font-size: 40px  !important;
      text-align: center;
  }

  .banner-content p{
      text-align: center;
  }

  .banner-content .inp-email {
  padding: 5px 10px !important;
  width: 80%;
}

.banner-content .startBtn {
  padding: 6px 10px  !important;
}

.banner-img img {
  width: 100%;
  margin-left: 20%;
}

}