@media only screen and (max-width: 767px) {
  .banner-area {
    margin-top: 0px;
  }

  .section-title {
    font-size: 35px !important;
    text-align: center;
  }

  .section-paragraph {
    text-align: center;
    font-size: 12px;
    padding: 0 30px;
  }

  .banner-content .inp-email {
    padding: 5px 10px !important;
    width: 80%;
  }

  .banner-content .startBtn {
    padding: 6px 10px !important;
  }

  .banner-img img {
    width: 100%;
    margin-left: 20%;
  }

  .center-button {
    margin: 0 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-button {
    padding: 5px;
  }

  .homework-right img {
    
  }

  .subscription-card {
    width: 400px;
    margin: 10px 0;
}

  .tagline {
    text-align: center;
  }

  .footer-area .ft-list ul:nth-child(even){
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .footer-area .ft-list{
     text-align: center;
     margin: 20px 0;
     background-color: #1f1f1f4b;
     padding: 10px;
     border-radius: 5px;
  }
  .footer-area ul li a{
    margin: 0 10px;
  }
}
